/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
/*#E5E5E5;
#2F303A*/
:root {
  /*цвет фона*/
  --first-site-color: #757575;
  --title-site-color: #212121;
  --basic-site-color: #2f303a;
  --accent-site-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--first-site-color);
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
h1:last-child,
h2:last-child,
h3:last-child {
  margin-bottom: 0;
}
.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.conteiner {
  width: 1630px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-site-color);
}
.feature-list {
  list-style: none;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.contacts {
  display: flex;
  align-items: center;
}
/*logo*/
.logo {
  margin-right: 93px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #000000;
}
.logo-blu,
.footer-logo-blu {
  color: var(--accent-site-color);
}
/*навигация*/
.nav-item {
  margin-right: 40px;
}
.nav-item:last-child {
  margin: 0;
}
.link.current {
  color: var(--accent-site-color);
  cursor: pointer;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-site-color);
}
.site-nav .current {
  color: var(--accent-site-color);
}
.link {
  color: var(--title-site-color);
}
.contacts {
  margin-left: auto;
}
.contacts-phon {
  margin-left: 50px;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-site-color);
}
.contacts .link {
  color: var(--first-site-color);
}
.contacts .current {
  color: var(--accent-site-color);
}

/*герой*/
.hero {
  background-color: var(--basic-site-color);
  text-align: center;
}
.hero {
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--basic-site-color);
  color: #ffffff;
}
.hero-title {
  padding: 200px 452px 0px 452px;
}
.button {
  max-width: 250px;
  min-width: 200px;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: var(--accent-site-color);
  color: #ffffff;
}
.buttons:focus,
.button:hover {
  background-color: #188ce8;
}
.button {
  margin-right: auto;
  margin-top: 30px;
  margin-left: auto;
}
/*особенности*/

.list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-site-color);
}
.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--first-site-color);
}
/*шоурум*/
.showroom-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-site-color);
}
.showroom-list {
  list-style: none;
}
/*команда*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-site-color);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-site-color);
}
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-site-color);
}
/*портфолио*/
.buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: var(--title-site-color);
  cursor: pointer;
}
.buttons:hover,
.buttons:focus {
  color: #ffffff;
  background-color: var(--accent-site-color);
}
.buttons .corrent {
  color: var(--accent-site-color);
}
.lists-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  background-color: #ffffff;

  color: var(--title-site-color);
}
.category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  background: #ffffff;
  color: var(--first-site-color);
}

/*подвал*/
.footer {
  background: var(--basic-site-color);
}
.footer .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-list {
  list-style: none;
}
.footer .links {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.link {
  font-style: normal;
  text-decoration: none;
}
.links {
  font-style: normal;
  text-decoration: none;
}
.footer-list .link:focus,
.footer-list .link:hover {
  color: var(--accent-site-color);
}
.footer-list .link:focus,
.footer-list .links:hover {
  color: var(--accent-site-color);
}
